h1 small {
    display: block;
}
@media (max-width: 767px) {
    header
    header .container {
        flex-direction: column;
        text-align: center;
    }
    nav .nav {
        flex-direction: column;
    }
    #hero{ 
        background-color: rgba(127, 255, 212, 0);
    }
    #hero .container .row{background-color: rgba(255, 0, 0, 0);
        flex-direction: column-reverse;
    }
    #hero .text-start {
        text-align: center !important;
    }
    #hero img {
        margin-top: 30px;
    }
    #sobre .text-center img {
        margin-bottom: 20px;
    }
    footer p {
        font-size: 0.9rem;
    }
}
/* Efeito flutuante */
.floating {
    animation: float 2s ease-in-out infinite;
}
@keyframes float {
    0%, 100% {
        transform: translateY(0);

    }
    50% {
        transform: translateY(-20px);
    }
}