@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color:#1c1b21;
    font-family: 'poppins', sans-serif;
    flex-direction: column;
    display: flex;
    margin: 0 auto;
    max-width: 1920px;
    padding: 0px 0px;
}

header{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    border-bottom: rgb(255, 217, 0) 3px solid;
    z-index: 999;
}
header .header{
    background-color: rgba(172, 255, 47, 0);
    width: 99%;
}
header .header .container{
    background-color: rgba(255, 0, 0, 0);
    width: 99%;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .header .container .menu{
    background-color: rgba(238, 130, 238, 0);
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}
header .logo a {
    background-color: rgba(0, 255, 255, 0);
    color: aliceblue;
    padding: 20px;
}
header .logo a:hover {
    color: #C68F2F;
    transition: 0.3s all;
}
header .logo {
    flex-direction: column;
    line-height: 18px;
    align-items: center;
    color: aliceblue;
    font-family: 'poppins',sans-serif;
    font-size: 10px;    
    cursor: pointer;
}
header #a-logo{
    padding: 0;
    text-decoration: none;
}
header .logo h1 {
    font-weight: 300;
}
header nav{
    background-color: rgba(255, 255, 0, 0);
    margin: 0px;
}
header nav ul li {
    display: inline-block;
    justify-content: space-around;
    align-items:center;
    font-family: poppins;
    font-size: 15px;
    text-decoration: none;
}
header nav a {
    color: aliceblue;
    padding: 20px;
}
header nav a:hover {
    color: #C68F2F;
    transition: 0.3s all;
}
header #btn-menu {
    border: 3px solid #C68F2F;
    color: aliceblue;
    padding: 3px 20px;
    margin: 20px;
    margin-right: 0px;
    border-radius: 10px;      
}
header #btn-menu:hover {
    border: 3px solid aliceblue;
    background-color: #C68F2F;
    color: #1c1b21;
    transition: 0.5s all;
}



main{
    background-color:#1c1b2100;
    width: 100%;
    flex-direction: column;
    margin: auto;
    padding: 0px 0px 0px 0px;
}
main .hero{
    background-color: #ff0000;
    width: 85%;
    margin: auto;
}
main .hero .container{
    background-color: rgba(255, 255, 0, 0);
    width: 100%;
    margin: auto;
}

.home{
    width: 100%;
    flex-direction: row;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    padding: 100px 100px 100px 100px;
    background-color: #1c1b21;
}
.home h2 {
    max-width: 10px;
    font-size: 70px;
    line-height: 60px;
    font-weight: 100;
    color: #C68F2F;
}
.home span {
    color:aliceblue;
}
.home p {
    color:aliceblue;
    font-size: 18px;
    line-height: 25px;
    margin-top: 0px;
    font-weight: 100;
}
.btn {
    background-color: red;
    color: #1c1b21;
    font-size: 24px;
    margin: 0px;
    padding: 0px 0px;
    border-radius: 20px;
}
.btn a {
    background-color:aliceblue;
    color: black;
    font-size: 24px;
    margin: 0px;
    padding: 7px 60px;
    border-radius: 20px;
}
.btn :hover {
    background-color:#C68F2F;
}

.services {
    background-color: rgba(255, 0, 0, 0);
    margin: auto;
    padding-top: 100px;
}
.services .container{
    background-color: rgba(172, 255, 47, 0);
    width: 90%;
    margin: auto;

}
.services .container .elemento {
    width: 100%;
    height: 00x;
    text-align: center;    
}
.services .container .servicos .elemento h3 {
    font-size: 50px;
    font-weight: 100;
    color: #C68F2F;
}
.services .container .servicos .elemento p {
    font-size: 18px;
    font-weight: 100;
    line-height: 25px;
    color:aliceblue;
    margin: 0px 100px;
    padding: 0px 0px;
}
.services .container .servicos .cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
}
.services .container .servicos .card1 {
    width: 30%;
    height: 400px;
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 40px 40px;
    text-align: justify;
    background-color: #242529;
    border-radius: 10px;
}
.services .container .servicos .card1:hover {
    background-color: rgb(0, 0, 0);
    transition: 0.5s all;
}
.services .container .servicos .card2 {
    width: 33%;
    height: 400px;
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 40px 40px;
    text-align: justify;
    background-color: #242529;
    border-radius: 10px;
}
.services .container .servicos .card2:hover {
    background-color: rgb(0, 0, 0);
    transition: 0.5s all;
}
.services .container .servicos .card3 {
    width: 33%;
    height: 400px;
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 40px 40px;
    text-align: justify;
    background-color: #242529;
    border-radius: 10px;
}
.services .container .servicos .card3:hover {
    background-color: rgb(0, 0, 0);
    transition: 0.5s all;

}
.services .container .servicos .cards h3 {
    font-size: 24px;
    color: #C68F2F;
}
.services .container .servicos .cards p {
    color:aliceblue;
    font-size: 14px;
    line-height: 25px;
    margin-top: 10px;
    font-weight: 100;
}
.services .container .servicos .cards a {
    color: #C68F2F;
    font-size: 20px;
    line-height: 25px;
    margin-top: 10px;
    font-weight: 100;
}
.services .container .servicos .cards a:hover {
    color:aliceblue;
    font-size: 21px;
    transition: 0.3s all;

}


.sobre {
    background-color:#1c1b21;
    width: 90%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    padding: 0px;
}
.sobre aside {
    background-color: rgba(137, 43, 226, 0);
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.sobre article {
    background-color: rgba(165, 42, 42, 0);
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    margin: 0 auto;
    padding: 0px 150px 0px 0px;
}
.sobre h3 {
    font-size: 50px;
    font-weight: 100;
    color: #C68F2F;
}
.sobre h4 {
    font-size:30px;
    font-weight: 100;
    color: #C68F2F;
}
.sobre p {
    color:aliceblue;
    font-size: 18px;
    line-height: 25px;
    font-weight: 100;
    text-align: left;
}


.portifolio {
    background: url(../img/background-comp-black.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 800px;
}
.portifolio aside {
    background-color: rgba(255, 0, 0, 0);
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 100px;
}
.box {
    background-color: #ffa20000;
    width: 140px;
    height: 340px;
    display: flex;
    justify-content: center;
    margin: 10px 10px;
    padding: 30px 0px;
}
.portifolio article {
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: row;
    margin: 0 auto;
    padding: 0px;
    margin-top: 0px;
}
.portifolio h2 {
    display: flex;
    justify-items: center;
    align-items: center;
    font-size: 100px;
    line-height: 70px;
    font-weight: 100;
    color: #C68F2F;
}
.p-port {
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    margin: 0 auto;
    padding: 0px;
    margin-top: 20px;
}
.p-port p {
    color:aliceblue;
    font-size: 18px;
    line-height: 25px;
    margin-top: 10px;
    font-weight: 100;
    text-align: center;
}


.contato {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 800px;
    padding: 50px;
    align-items: center;
    background-color:#1c1b21;
}
.contato aside {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 50%;
    height: 500px;
}
.contato h2 {   
    font-size: 70px;
    line-height: 70px;
    font-weight: 100;
    color: #C68F2F;
}
.contato p {
    color:aliceblue;
    font-size: 24px;
    line-height: 20px;
    margin-top: 10px;
    font-weight: 100;
}
.redes {
    display: flex;
    justify-content:flex-start;
    margin-left:0px;
}
.redes i {
    color:aliceblue;
    cursor: pointer;
    font-size: 50px;
    background-color: #000000;
    margin-right: 20px;
    padding: 30px 35px 30px 35px;
    border-radius: 10px;
}
.redes i:hover {
    background-color:#C68F2F;
    font-size: 50px;
    color: #000000;
}
.contato article {
    margin: 20px;
}


.orcamento {
    background-color: #1c1b21;
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 100px 100px;
}
.orcamento h2 {
    font-size: 100px;
    line-height: 70px;
    font-weight: 100;
    color: #C68F2F;
    margin: 30px;
}
.orcamento p {
    font-size: 18px;
    line-height: 15px;
    font-weight: 100;
    color:aliceblue;
    margin: 30px;
}


.form form {
    background-color: #1c1b21;
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 800px;
    padding: 0px 0px 100px 0px;
}
.form input {
    margin-top: 20px;
    height: 50px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
}
form [ type="mensagem" ] {
    height: 150px;    
}
form [type="submit"] {
    width: 100%;
    background-color: #C68F2F;
    color: #1c1b21;
    font-size: 50px;
    font-weight: bold;
    height: 100px;
}
form [type="submit"]:hover {
    cursor: pointer;
    background-color: #db9315f1;
    color: aliceblue;
}


footer {
    background-color: black;
    height: 77px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;
    margin: 0 auto;
    padding: 0px 0px;
}
.rodape {
    margin: 0px;
    padding: 0px;
}
.rodape p {   
    color:aliceblue;
    font-size: 18px;
    line-height: 25px;
    font-weight: 100;
}
