@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}



html {
    scroll-behavior: smooth;
}



body {
    /*background-color: #1c1b21;*/    
    background-color:#1c1b21;    
    font-family: 'poppins', sans-serif;
    flex-direction: column;
    display: flex;
    margin: 0 auto;
    max-width: 1920px;
    padding: 0px 0px;
}



header {   
    width: 100%;
    height: 77px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
    background-color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;   
    margin: 0 auto; 
}
.logo a {
    color: aliceblue;
    padding: 20px;
}
.logo a:hover {
    color: #C68F2F;
    transition: 0.3s all;
}
.logo {
    flex-direction: column;
    line-height: 18px;
    align-items: center;
    color: aliceblue;
    font-family: 'poppins',sans-serif;
    font-size: 10px;    
    cursor: pointer;
}
#a-logo{
    padding: 0;
    text-decoration: none;
}
.logo h1 {
    font-weight: 300;
}
nav{
    margin: 0px;
}
nav ul li {
    display: inline-block;
    justify-content: space-around;
    align-items:center;
    font-family: poppins;
    font-size: 15px;
    text-decoration: none;
}
nav a {
    color: aliceblue;
    padding: 20px;
}
nav a:hover {
    color: #C68F2F;
    transition: 0.3s all;
}
#btn-menu {
    border: 3px solid #C68F2F;
    color: aliceblue;
    padding: 3px 20px;
    margin: 20px;
    margin-right: 0px;
    border-radius: 10px;      
}
#btn-menu:hover {
    border: 3px solid aliceblue;
    background-color: #C68F2F;
    color: #1c1b21;
    transition: 0.5s all;
}



main{
    background-color:#1c1b21;
    width: 100%;
    flex-direction: column;
    margin: 0 auto;
    padding: 0px 0px 0px 0px;
}



.home{
    flex-direction: row;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0px 0px 0px 0px;
    padding: 100px 100px 100px 100px;
    background-color: #1c1b21;
}
.home h2 {
    max-width: 10px;
    font-size: 70px;
    line-height: 60px;
    font-weight: 100;
    color: #C68F2F;
}
.home span {
    color:aliceblue;
}
.home p {
    color:aliceblue;
    font-size: 18px;
    line-height: 25px;
    margin-top: 0px;
    font-weight: 100;
}
.btn {
    background-color: red;
    color: #1c1b21;
    font-size: 24px;
    margin: 0px;
    padding: 0px 0px;
    border-radius: 20px;
}
.btn a {
    background-color:aliceblue;
    color: black;
    font-size: 24px;
    margin: 0px;
    padding: 7px 60px;
    border-radius: 20px;
}
.btn :hover {
    background-color:#C68F2F;
}



.home2 {
    background-color:#1c1b21;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 700px;
    margin: 0 auto;
    padding: 0px 0px;
}
.home2 .elemento {
    width: 100%;
    height: 00x;
    text-align: center;    
}
.home2 .elemento h3 {
    font-size: 50px;
    font-weight: 100;
    color: #C68F2F;
}
.home2 .elemento p {
    font-size: 18px;
    font-weight: 100;
    line-height: 25px;
    color:aliceblue;
    margin: 0px 100px;
    padding: 0px 0px;
}
.cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 600px;
    margin: 30 auto;
    /*position: absolute;*/

}
.card1 {
    width: 33%;
    height: 400px;
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 50px 50px;
    text-align: justify;
    background-color: #242529;
}
.card2 {
    width: 33%;
    height: 400px;
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 50px 50px;
    text-align: justify;
    background-color: #242529;
}
.card3 {
    width: 33%;
    height: 400px;
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 50px 50px;
    text-align: justify;
    background-color: #242529;
}
.cards h3 {
    font-size: 24px;
    color: #C68F2F;

}
.cards p {
    color:aliceblue;
    font-size: 18px;
    line-height: 25px;
    margin-top: 10px;
    font-weight: 100;
}




.sobre {
    background-color:#1c1b21;
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0px 0px 50px 0px;
    padding: 0px 0px 0px 0px;
}
.sobre aside {
    /*background-color: blueviolet;*/
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.sobre article {
    background-color: rgba(165, 42, 42, 0);
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    margin: 0 auto;
    padding: 0px 150px 0px 0px;
}
.sobre h3 {
    font-size: 50px;
    font-weight: 100;
    color: #C68F2F;
}
.sobre h4 {
    font-size:30px;
    font-weight: 100;
    color: #C68F2F;
}
.sobre p {
    color:aliceblue;
    font-size: 18px;
    line-height: 25px;
    font-weight: 100;
    text-align: left;
}



.portifolio {
    background: url(../img/background-comp-black.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 800px;
}
.portifolio aside {
    background-color: rgba(255, 0, 0, 0);
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 100px;
}
.box {
    background-color: #ffa20000;
    width: 140px;
    height: 340px;
    display: flex;
    justify-content: center;
    margin: 10px 10px;
    padding: 30px 0px;
}
.portifolio article {
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: row;
    margin: 0 auto;
    padding: 0px;
    margin-top: 0px;
}
.portifolio h2 {
    display: flex;
    justify-items: center;
    align-items: center;
    font-size: 100px;
    line-height: 70px;
    font-weight: 100;
    color: #C68F2F;
}
.p-port {
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    margin: 0 auto;
    padding: 0px;
    margin-top: 20px;
}
.p-port p {
    color:aliceblue;
    font-size: 18px;
    line-height: 25px;
    margin-top: 10px;
    font-weight: 100;
    text-align: center;
}




.contato {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    height: 800px;
    padding: 50px;
    align-items: center;
    background-color:#1c1b21;
}
.contato aside {
    margin: 0px;
    width: 50%;
    padding: 0px;
    height: 500px;

}
.contato article {

}
.contato h2 {
    display: flex;
    justify-items: center;
    align-items: center;
    font-size: 70px;
    line-height: 70px;
    font-weight: 100;
    color: #C68F2F;
    margin: 30px;
}
.contato p {
    color:aliceblue;
    font-size: 24px;
    line-height: 20px;
    margin-top: 10px;
    font-weight: 100;
    margin: 30px;
}
.contato i {
    color:aliceblue;
    font-size: 24px;
    line-height: 20px;
    margin-top: 10px;
    font-weight: 100;
    margin: 20px;
    cursor: pointer;
}
.btn-redes {
    background-color: rgb(0, 0, 0);
    font-size: 36px;
    margin: 0px 5px;
    padding: 0px 3px 8px 0px;
    border-radius: 10px;
}
.btn-redes a {
    font-size: 36px;

}
.btn-redes:hover {
    background-color:#C68F2F;
    font-size: 36px;
    margin: 0px 5px;
    padding: 0px 3px 8px 0px;
    border-radius: 10px;

}




.orcamento {
    background-color: #1c1b21;
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 100px 100px;
}
.orcamento h2 {
    font-size: 100px;
    line-height: 70px;
    font-weight: 100;
    color: #C68F2F;
    margin: 30px;
}
.orcamento p {
    font-size: 18px;
    line-height: 15px;
    font-weight: 100;
    color:aliceblue;
    margin: 30px;
}
.form form {
    background-color: #1c1b21;
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 800px;
    padding: 0px 0px 100px 0px;
}
.form input {
    margin-top: 20px;
    height: 50px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
}
form [ type="mensagem" ] {
    height: 150px;    
}
form [type="submit"] {
    width: 100%;
    background-color: #C68F2F;
    color: #1c1b21;
    font-size: 50px;
    font-weight: bold;
    height: 100px;
}
form [type="submit"]:hover {
    cursor: pointer;
    background-color: #db9315f1;
    color: aliceblue;
}



footer {
    background-color: black;
    height: 77px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;
    margin: 0 auto;
    padding: 0px 0px;
}
.rodape {
    margin: 0px;
    padding: 0px;
}
.rodape p {   
    color:aliceblue;
    font-size: 18px;
    line-height: 25px;
    font-weight: 100;
}